<div class="flex relative h-full group">
    <div class="absolute inset-0 w-full h-full flex items-center justify-center">
        <h3 class="title-font text-2xl font-semibold text-white text-center px-6 uppercase z-10">{{name}}</h3>
        <img alt="{{name}}" class="absolute inset-0 w-full h-full object-cover object-center z-0" src="{{image}}">
    </div>
    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <!--h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2-->
        <h3 class="title-font text-lg font-medium text-gray-900 mb-3">{{name}}</h3>
        <p class="category-preview__desc leading-relaxed">{{desc}}</p>
    </div>
</div>