<div class="book-container flex flex-col justify-between p-20 sm:p-10">
    {{# with book }}
    
    <div class="book-main-container flex justify-between">
        
        <img src="{{cover}}" alt="book cover" class="h-auto self-start w-2/12 mr-8">
        <div class="book-main-desc w-8/12">
            <div class="book-heading"> {{title}}</div>
            <div class="text-18 font-bold lg:text-14 md:text-lg sm:text-base">By {{author}}</div>
            <p class="text-24 lg:text-20 md:text-14 sm:hidden">
                {{desc}}
            </p>
        </div>
        <div class="book-main-borrow w-2/12">
            <div class="text-24 text-center lg:text-20 md:text-14 sm:text-base">
                Hiện có: <span class="text-fit-orange text-bold">{{amount}} sách</span>
            </div>
            <div class="flex justify-center">
                <a href="/book/{{id}}/borrow" class="book-borrow-button bg-fit-yellow flex items-center justify-center">
                    Mượn
                </a>
            </div>
        </div>
        
    </div>
    <p class="hidden text-lg mb-8 sm:block">
        {{desc}}
    </p>
    <div>
        {{> catalogue.book.carousel heading='Sách liên quan' prop='tag' value=tag }}
    </div>
    <div class="book-line"></div>
    <div>
        <div class="book-heading">Chi tiết</div>
        <div class="text-28 lg:text-24 md:text-16 sm:text-lg">
            Tag: {{tag}} <br>
            Loại: {{type}} <br>
            Tiếng: {{language}} <br>
            Trang: 500 <br>
            Ngày xuất bản: 25/11/2019 <br>
            Nhà xuất bản: Kim Đồng <br>
        </div>
    </div>
    {{/with}}
    <div class="book-line"></div>
    <div>
        <div class="book-heading">Bình luận</div>
        <div>
            {{# each comments}}
                {{>comment}}
            {{/each}}
        </div>
    </div>
    
</div>
